<h1>Options</h1>
<br>

<label for="toggleShowPrevious"> Show Previous </label>
<input type="checkbox" id="toggleShowPrevious" name="toggleShowPrevious" [checked]="isShowPrevious" (change)="toggleShowPrevious()" />
<br>

<label for="toggleShowNext"> Show Next </label>
<input type="checkbox" id="toggleShowNext" name="toggleShowNext" [checked]="isShowNext" (change)="toggleShowNext()" />
<br>

<label for="cellLimit"> Cell Limit </label>
<input type="number" id="cellLimit" name="cellLimit" [value]="cellLimit" (change)="changeCellLimit($event.target.value)" />
<br>

<label for="textPosition"> Text Position </label>
<select name="textPosition" id="textPosition" [value]="selectedTextPosition" (change)="selectTextPosition($event.target.value)" >
  <option value="centered">Centered</option>
  <option value="centered-top">Centered Top</option>
  <option value="centered-bottom">Centered Bottom</option>  
  <option value="bottom-right">Bottom Right</option>
  <option value="top-right">Top Right</option>
  <option value="top-left">Top Left</option>
  <option value="bottom-left">Bottom Left</option>
</select>
<br>

<br>
<span>Result: {{result}}</span>

<h1>Component</h1>
<div class="row">
  <div class="col-8">
    <smart-slider [textColor]="'black'" [textPosition]="selectedTextPosition" [itemMargin]="5" [cellLimit]="cellLimit" [transitionDuration]="1" [height]="100" [items]="items" [showPrevious]="isShowPrevious" [showNext]="isShowNext" (select)="onSelect($event)"></smart-slider>
  </div>

  <div class="col-4" style="height: 400px;">
    <smart-slider [vertical]="true" [textColor]="'black'" [textPosition]="selectedTextPosition" [itemMargin]="5" [cellLimit]="cellLimit" [width]="100" [transitionDuration]="1" [items]="items" [showPrevious]="isShowPrevious" [showNext]="isShowNext" (select)="onSelect($event)"></smart-slider>
  </div>
</div>

<div class="row">
  <smart-slider-horizontal-v2 [items]="itemsForList" [options]="listDataOptions"></smart-slider-horizontal-v2>
</div>
